#msl {
    background-image: url("/media/filer_public/1a/be/1abe4797-3db2-4f1a-a454-bb16c3de6ee7/msl-new-logo.png");
}

#maths
{
    background-image: url("/media/filer_public/21/8d/218d4f69-a8bb-401c-bc9d-46d1031ce7c7/mathsharp-bg-small.jpg");
}

#hi19 {

}

#tron {
    background-image: url("/media/filer_public/0d/75/0d75b699-1ba8-4624-91f5-f2f3aa79673f/tron-logo.png");
}

#fluids {
    background-image: url("/media/filer_public/39/2a/392a0845-8ea9-40e8-b0d3-0aef1f0df12e/fluid2d-logo.png");
}

#electronics {
    background-image: url("/media/filer_public/28/f0/28f0e3fc-6136-47d4-960b-fc76c878e72b/electronics-logo.png");
}