.nav {
    padding-left: 0;
}
.nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.content {
    float: left;
    width: 80%;
}
.sidebar {
    float: left;
    width: 20%;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  font-size: 16px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar {
    background-color: #555560;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.centered {
    text-align: center;
}


/*  THEME SETTINGS
------------------------------------------------*/


.dark-theme-text-color {
    color: #f0f0f0;
}

.dark-theme-background-color {
    background-color: #555560;
}

.dark-theme-text-darker-color {
    color: #48484E;
}

.dark-theme-background-darker-color {
    background: #48484E;
}

.dark-theme-link-color {
    color: #FFAA00;
}

a {
    color: #FFAA00;
    font-weight: 600;
}

a:hover {
    text-decoration: underlined;
    color: #FFAA00;
}

.navbar {
    border-bottom: none !important;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .3);
    padding: 0;
}

.pad-nav-menu-item {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-nav.flex-grow-1 li
{
    padding-right: 10px;
    padding-left: 10px;
}

.nav-link {
    padding-top: 16px;
}

.nav-item a:hover {
    color: #f0f0f0;
}

.nav-page:hover {
    background-color: #48484E;
}

hr {
    background-color: #48484E;
}

.footer {
    border-top: 1px solid gray;
}

.navbar-nav .nav-link
{
    padding-left: 15px;
}

.navbar-toggler-icon {
    background-image: url("/media/filer_public/2c/8c/2c8c7972-6a05-4d44-8bbd-a495d41e0554/burger.png");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
}

.project-name {
    height: 222px;
    width: 444px;
    display: inline-block;
    border-radius: 20px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-name a {
    color: #f0f0f0;
    font-size: 16pt;
}

#hi19
{
    background: black;
}

